name: Update subconverte

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Update subconverte
      run: |
        sudo rm -rf subconverte
        wget https://github.com/tindy2013/subconverter/releases/latest/download/subconverter_linux64.tar.gz
        tar -zxvf subconverter_linux64.tar.gz
        sudo rm -rf subconverter_linux64.tar.gz
        sudo cp -rf pref.toml subconverter/
        
    - name: Add & Commit
      uses: EndBug/add-and-commit@v6
      with:
        author_name: GitHub Action
        message: "Update subconverte"
      env:
        token: ${{ secrets.GITHUB_TOKEN }}
